* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  max-width: 980px;
  margin: 0 auto;
}

body.home nav {
  border-bottom: solid 2px white;
  color: white;
}
body.home nav .logo-name {
  border: 2px solid white;
  color: white;
}
body.home nav a {
  color: white;
}

nav {
  color: #79addc;
  height: 80px;
  max-width: 980px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  border-bottom: solid 2px black;
  z-index: 99;
  top: 0;
}
nav .logo {
  width: 101px;
  height: 50px;
}
nav .logo .logo-name {
  border: 2px solid black;
  width: 100%;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 20px;
  font-family: "Gill Sans Nova", sans-serif;
  word-spacing: 4px;
  font-weight: 400;
  letter-spacing: 0.13rem;
  padding-top: 25px;
}
nav .links {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
nav .links a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-family: "Gill Sans Nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.13rem;
}

@media screen and (max-width: 620px) {
  nav {
    flex-direction: column;
    height: auto;
  }
}
@media screen and (max-width: 525px) {
  .links {
    flex-direction: column;
    align-items: center;
    min-width: 250px;
  }
}
.footer-container {
  background-color: #79addc;
  max-width: 1280px;
  display: flex;
  justify-content: center;
}
.footer-container .footer {
  width: 980px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-container .footer .logo {
  width: 101px;
  height: 50px;
}
.footer-container .footer .logo .logo-name {
  border: 2px solid white;
  width: 100%;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-family: "Gill Sans Nova", sans-serif;
  word-spacing: 4px;
  font-weight: 400;
  letter-spacing: 0.13rem;
  padding-top: 25px;
}
.footer-container .footer .footer-copyright {
  color: white;
  font-size: 12px;
  font-family: "gill-sans-nova", sans-serif;
  word-spacing: 2px;
  font-weight: 400px;
}
.footer-container .footer .social-icon {
  width: 126px;
  display: flex;
  justify-content: space-between;
}
.footer-container .footer .social-icon img {
  cursor: pointer;
}

@media screen and (max-width: 585px) {
  .footer {
    flex-direction: column;
  }
}
.photo-container {
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  flex-wrap: wrap;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1280px;
  text-align: center;
}
.photo-container .photo-space {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.photo-container .photo-space h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 172px;
  font-size: 60px;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 68px;
  text-align: center;
}
.photo-container .photo-space h2 {
  margin-top: 26px;
  max-width: 35%;
  height: auto;
  font-size: 20px;
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  word-wrap: break-word;
}
.photo-container .photo-space button {
  margin-top: 43px;
  width: 121px;
  height: 40px;
  border: none;
  background-color: #79addc;
  color: white;
  font-size: 15px;
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 93px;
}

@media screen and (max-width: 525px) {
  .photo-space {
    margin-top: 200px;
  }
}
@media screen and (max-width: 440px) {
  .photo-container {
    width: 100%;
  }
  .photo-space {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .title-top {
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 24px;
  }
  h2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    max-width: 100%;
    padding: 0 10px;
  }
}
.three-images {
  display: flex;
  position: relative;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  justify-content: space-between;
  width: 818px;
}
.three-images .image-one {
  background-image: url(../images/image1.png);
  height: 304px;
  width: 236px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.three-images .image-one h1 {
  margin-bottom: -15px;
}
.three-images .image-one h1,
.three-images .image-one strong {
  color: white;
  font-size: 60px;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 400;
}
.three-images .image-one strong {
  font-size: 30px;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 400;
}
.three-images .image-two {
  background-image: url(../images/image2.png);
  height: 304px;
  width: 236px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.three-images .image-two h1 {
  margin-bottom: -15px;
}
.three-images .image-two h1,
.three-images .image-two strong {
  color: white;
  font-size: 60px;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 400;
}
.three-images .image-two strong {
  font-size: 30px;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 400;
}
.three-images .image-three {
  background-image: url(../images/image3.png);
  height: 304px;
  width: 236px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.three-images .image-three h1 {
  margin-bottom: -15px;
}
.three-images .image-three h1,
.three-images .image-three strong {
  color: white;
  font-size: 60px;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 400;
}
.three-images .image-three strong {
  font-size: 30px;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 834px) {
  .three-images {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .three-images .image-one,
  .three-images .image-two,
  .three-images .image-three {
    margin: 20px;
  }
}
.customer-button {
  margin-top: 57px;
  color: white;
  background-color: #79addc;
  border: none;
  height: 40px;
  width: 133px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 400;
}

.form-all {
  max-width: 818px;
  margin-top: 40px;
  margin: 0 auto;
}
.form-all h1 {
  font-size: 60px;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 400;
}

.top-inputs {
  display: grid;
  grid-template-columns: 0.42fr 0.58fr;
  gap: 20px;
  width: 100%;
}
.top-inputs input {
  border: solid 1px #79addc;
  height: 58px;
  width: 100%;
}
.top-inputs input::placeholder {
  color: black;
  font-size: 18px;
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 300;
  padding-left: 20px;
  letter-spacing: 2px;
}
.top-inputs .small {
  display: flex;
  grid-column: 1;
}
.top-inputs .big {
  display: flex;
  grid-column: 2;
}

@media screen and (max-width: 810px) {
  .top-inputs {
    display: flex;
    flex-direction: column;
  }
}
.check-date {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  gap: 20px;
}
.check-date .check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.check-date .check p {
  display: flex;
  align-items: center;
  min-width: 80px;
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: left;
  margin-right: 47px;
}
.check-date .check .input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.check-date .check .input-container input {
  width: 100%;
  height: 58px;
  border: solid 1px #79addc;
  font-size: 16px;
  padding-right: 40px;
}
.check-date .check .input-container input::placeholder {
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 300;
  color: black;
  font-size: 18px;
  padding-left: 20px;
}
.check-date .check .input-container .input-icon {
  position: absolute;
  right: 15px;
  width: 20px;
  height: 20px;
  transition: right 0.3s ease-in-out;
}

@media screen and (max-width: 818px) {
  .input-container {
    width: 80%;
  }
  .input-container input {
    padding-right: 30px;
  }
  .input-icon {
    right: 5%;
  }
}
.customers .customers-room {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-top: 20px;
}
.customers .customers-room .customers-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
}
.customers .customers-room .customers-line p {
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: left;
}
.customers .customers-room .customers-line .customer-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 58px;
}
.customers .customers-room .customers-line .customer-container input {
  width: 100%;
  max-width: 103px;
  height: 58px;
  padding-left: 15px;
  padding-right: 35px;
  border: 1px solid #79addc;
  font-size: 16px;
}
.customers .customers-room .customers-line .customer-container input::placeholder {
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 300;
  font-size: 16px;
}
.customers .customers-room .customers-line .customer-container .drop-icon {
  margin-left: -40px;
}

@media screen and (max-width: 650px) {
  .customers-line {
    row-gap: 20;
  }
}
.text-entry {
  margin-top: 20px;
}
.text-entry textarea {
  width: 100%;
  height: 192px;
  padding: 15px;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  resize: none;
  border: solid 1px #79addc;
}
.text-entry textarea::placeholder {
  color: black;
  text-align: left;
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 300;
}
.text-entry button {
  margin-top: 37px;
  width: 100%;
  height: 60px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 400;
  margin-bottom: 100px;
  color: white;
  background-color: #79addc;
}

.top-container {
  margin-top: 192px;
}
.top-container .title-about {
  border-bottom: 3px solid black;
  width: 171px;
}
.top-container .title-about p {
  font-size: 60px;
  letter-spacing: 6px;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 400;
  margin-bottom: -15px;
  text-transform: uppercase;
}
.top-container .paragraph-about {
  margin-top: 30px;
  font-size: 16px;
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 400;
  width: 100%;
  margin-bottom: 101px;
}

@media screen and (max-width: 625px) {
  .top-container {
    margin-top: 250px;
  }
}
.bottom-container {
  margin-bottom: 180px;
}
.bottom-container .title-client {
  border-bottom: 2px solid black;
  width: 255px;
  display: flex;
  align-items: center;
  height: 54px;
  margin-bottom: 36.5px;
}
.bottom-container .title-client p {
  font-size: 40px;
  letter-spacing: 3px;
  word-spacing: 10px;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 400;
  margin-bottom: -6px;
  text-transform: uppercase;
}
.bottom-container .quote {
  max-width: 675px;
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 37px;
}
.bottom-container .quote .quote-image-holder {
  width: 260px;
  height: 150px;
}
.bottom-container .quote .quote-image-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.bottom-container .quote .quote-text-author {
  width: 385px;
  margin: auto;
  position: relative;
}
.bottom-container .quote .quote-text-author p {
  font-size: 16px;
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.bottom-container .quote .quote-text-author .author {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #79addc;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

@media screen and (max-width: 676px) {
  .bottom-container .quote {
    flex-direction: column;
    width: 260px;
    margin: 0 auto 37px auto;
  }
  .bottom-container .quote .quote-text-author {
    width: 100%;
    margin-top: 20px;
  }
}
.tours-container {
  margin-bottom: 100px;
  margin-top: 142px;
}
.tours-container .tours-content {
  max-width: 818px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
  justify-content: center;
}

.tours-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 304px;
  width: 236px;
  position: relative;
}
.tours-images .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.tours-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tours-images h1,
.tours-images strong {
  color: white;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 400;
  position: absolute;
  text-align: center;
}
.tours-images h1 {
  font-size: 60px;
  margin-bottom: -5px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.tours-images strong {
  font-size: 30px;
  top: 36%;
}
.tours-images .customer-button {
  position: absolute;
  bottom: 55px;
  background-color: #79addc;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 20px;
}

.tours-hero {
  position: relative;
  height: 200px;
  margin-bottom: 48px;
}
.tours-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.tours-hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.tours-hero .tour-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 60px;
  letter-spacing: 13px;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
