@use "variables" as v;
.bottom-container {
  margin-bottom: 180px;
  // background-color: red;
  .title-client {
    border-bottom: 2px solid black;
    width: 255px;
    // background-color: pink;
    display: flex;
    align-items: center;
    height: 54px;
    margin-bottom: 36.5px;
    p {
      font-size: 40px;
      letter-spacing: 3px;
      word-spacing: 10px;
      font-family: "proxima-nova-extra-condensed", sans-serif;
      font-weight: 400;
      margin-bottom: -6px;
      text-transform: uppercase;
    }
  }
  .quote {
    max-width: 675px;
    min-height: 150px;
    // background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 37px;
    .quote-image-holder {
      width: 260px;
      height: 150px;
      //   background-color: blue;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
    .quote-text-author {
      width: 385px;

      //   background-color: chartreuse;
      margin: auto;
      position: relative;
      p {
        font-size: 16px;
        font-family: "gill-sans-nova", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      .author {
        position: absolute;
        bottom: 0;
        right: 0;
        color: v.$color-blue;
        font-family: "proxima-nova-extra-condensed", sans-serif;
        font-weight: 400;
        font-size: 20px;
      }
    }
  }
}
@media screen and (max-width: 676px) {
  .bottom-container {
    .quote {
      flex-direction: column;
      width: 260px;
      margin: 0 auto 37px auto;
      .quote-text-author {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}
