@use "variables" as v;

.check-date {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  gap: 20px;

  .check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    p {
      display: flex;
      align-items: center;
      min-width: 80px;
      font-family: "gill-sans-nova", sans-serif;
      font-weight: 300;
      font-size: 18px;
      // background-color: yellow;
      text-align: left;
      margin-right: 47px;
    }

    .input-container {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;

      input {
        width: 100%;
        height: 58px;
        border: solid 1px v.$color-blue;
        font-size: 16px;
        padding-right: 40px;
      }

      input::placeholder {
        font-family: "gill-sans-nova", sans-serif;
        font-weight: 300;
        color: black;
        font-size: 18px;
        padding-left: 20px;
      }

      .input-icon {
        position: absolute;
        right: 15px;
        width: 20px;
        height: 20px;
        transition: right 0.3s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 818px) {
  .input-container {
    width: 80%;
  }

  .input-container input {
    padding-right: 30px;
  }

  .input-icon {
    right: 5%;
  }
}
