@use "variables" as v;

.customers {
    display: flex;
    width: 100%;

    .customers-room {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        // background-color: lightblue;
        justify-content: space-between;

        .customers-line {
            display: flex;
            align-items: center;
            gap: 80px;
            // background-color: yellow;
            padding: 20px 0px;

            p {
                font-family: "gill-sans-nova", sans-serif;
                font-weight: 300;
                font-size: 18px;
                text-align: center;
                margin: 0;
                width: 20px;
            }

            .customer-container {
                display: flex;
                align-items: center;
                position: relative;

                input {
                    width: 100px;
                    height: 58px;
                    padding-left: 18px;
                    border: 1px solid v.$color-blue;
                }

                input::placeholder {
                    font-family: "gill-sans-nova", sans-serif;
                    font-weight: 300;
                    font-size: 18px;
                }

                .drop-icon {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 625px) {
    .customers {
        flex-direction: column;
    }

    .customers-room {
        flex-wrap: wrap;
    }
}