@use "variables" as v;

.customer-button {
    margin-top: 57px;
    color: white;
    background-color: v.$color-blue;
    border: none;
    height: 40px;
    width: 133px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'gill-sans-nova', sans-serif;
    font-weight: 400;
}