@use "variables" as v;

.footer-container {
  background-color: v.$color-blue;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  
  .footer {
    width: 980px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 101px;
      height: 50px;
      // background-color: blue;
      .logo-name {
        border: 2px solid white;
        width: 100%;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 20px;
        font-family: "Gill Sans Nova", sans-serif;
        word-spacing: 4px;
        font-weight: 400;
        letter-spacing: 0.13rem;
        padding-top: 25px;
      }
    }

    .footer-copyright {
      color: white;
      font-size: 12px;
      font-family: "gill-sans-nova", sans-serif;
      word-spacing: 2px;
      font-weight: 400px;
    }

    .social-icon {
      width: 126px;
      // background-color: pink;
      display: flex;
      justify-content: space-between;
      img {
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 585px) {
  .footer {
    flex-direction: column;
  }
}
