.form-all {
  max-width: 818px;
  margin-top: 40px;
  // background-color: red;
  margin: 0 auto;
  h1 {
    font-size: 60px;
    font-family: "proxima-nova-extra-condensed", sans-serif;
    font-weight: 400;
  }
}
