@use "variables" as v;

body.home nav {
    .logo-name {
        border: 2px solid white;
        color: white;
    }

    border-bottom: solid 2px white;
    color: white;

    a {
        color: white;
    }
}



nav {
    color: v.$color-blue;
    // background-color: bisque;
    height: 80px;
    max-width: v.$site-content-width;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border-bottom: solid 2px black;
    z-index: 99;
    top: 0;
    .logo {
        width: 101px;
        height: 50px;
        // background-color: blue;

        .logo-name {
            border: 2px solid black;
            width: 100%;
            height: 43px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            font-size: 20px;
            font-family: "Gill Sans Nova", sans-serif;
            word-spacing: 4px;
            font-weight: 400;
            letter-spacing: 0.13rem;
            padding-top: 25px;
        }
    }

    .links {
        // background-color: aquamarine;
        width: 500px;
        display: flex;
        justify-content: space-between;

        a {
            color: black;
            text-decoration: none;
            font-size: 15px;
            font-family: "Gill Sans Nova", sans-serif;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0.13rem;
            //   background-color: yellow;
        }
    }
}

@media screen and (max-width: 620px) {
    nav {
        flex-direction: column;
        height: auto;
    }
}

@media screen and (max-width: 525px) {
    .links {
        flex-direction: column;
        align-items: center;
        min-width: 250px;
    }
}