@use "variables" as v;

.photo-container {
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  flex-wrap: wrap;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1280px;
  text-align: center;
  .photo-space {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 172px;
      font-size: 60px;
      font-family: "proxima-nova-extra-condensed", sans-serif;
      font-weight: 400;
      width: 100%;
      height: 68px;
      text-align: center;
    }

    h2 {
      margin-top: 26px;
      max-width: 35%;
      height: auto;
      font-size: 20px;
      font-family: "gill-sans-nova", sans-serif;
      font-weight: 400;
      font-style: italic;
      text-align: center;
      word-wrap: break-word;
    }

    button {
      margin-top: 43px;
      width: 121px;
      height: 40px;
      border: none;
      background-color: v.$color-blue;
      color: white;
      font-size: 15px;
      font-family: "gill-sans-nova", sans-serif;
      font-weight: 400;
      cursor: pointer;
      margin-bottom: 93px;
    }
  }
}

@media screen and (max-width: 525px) {
  .photo-space {
    margin-top: 200px;
  }
}
@media screen and (max-width: 440px) {
  .photo-container {
    width: 100%;
  }
  .photo-space {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .title-top {
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 24px;
  }

  h2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    max-width: 100%;
    padding: 0 10px;
  }
}
