@use "variables" as v;

.photo-container {
  height: v.$photo-contain-height;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  color: white;
  flex-wrap: wrap;
  // background-color: burlywood;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;

  .photo-space {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    h1 {
      display: flex;
      align-items: center;
      margin-top: 80px;
      font-size: 60px;
      font-family: "proxima-nova-extra-condensed", sans-serif;
      font-weight: 400;
      width: 185px;
      height: 68px;
    }

    h2 {
      margin-top: 26px;
      width: 65%;
      height: 58px;
      font-size: 20px;
      font-family: "gill-sans-nova", sans-serif;
      font-weight: 400;
      font-style: italic;
      text-align: center;
    }

    button {
      margin-top: 43px;
      width: 121px;
      height: 40px;
      border: none;
      background-color: v.$color-blue;
      color: white;
      font-size: 15px;
      font-family: "gill-sans-nova", sans-serif;
      font-weight: 400;
      cursor: pointer;
      margin-bottom: 50px;
    }
  }
}
@media screen and (max-width: 625px) {
  .photo-space {
    margin-top: 300px;
  }
  .photo-container {
    height: auto;
    // margin-top: 50px;
  }
  h2 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
@media screen and (max-width: 265px) {
  h2 {
    overflow: hidden;
    text-align: center;
  }
}
