@use "variables" as v;
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, 
body {
 height: 100%;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
 margin-bottom: 16px;
}
#app {
    max-width: v.$site-width;
    margin: 0 auto;
}