@use "variables" as v;
.text-entry {
    // background-color: red;
    margin-top: 20px;

    textarea {
        width: 100%;
        height: 192px;
        padding: 15px;
        font-size: 16px;
        text-align: left;
        line-height: 1.5;
        resize: none;
        border: solid 1px v.$color-blue;
    }

    textarea::placeholder {
        color: black;
        text-align: left;
        font-family: 'gill-sans-nova', sans-serif;
        font-weight: 300;
    }

    button {
        margin-top: 37px;
        width: 100%;
        height: 60px;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        font-size: 15px;
        font-family: 'gill-sans-nova', sans-serif;
        font-weight: 400;
        margin-bottom: 100px;
        color: white;
        background-color: v.$color-blue;
    }
}