@use "variables" as v;
.three-images {
  display: flex;
  // background-color: red;
  position: relative;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  justify-content: space-between;
  width: 818px;
  .image-one {
    background-image: url(../images/image1.png);
    height: 304px;
    width: 236px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    flex-direction: column;

    h1 {
      margin-bottom: -15px;
    }

    h1,
    strong {
      color: white;
      font-size: 60px;
      font-family: "proxima-nova-extra-condensed", sans-serif;
      font-weight: 400;
    }

    strong {
      font-size: 30px;
      font-family: "proxima-nova-extra-condensed", sans-serif;
      font-weight: 400;
    }

    align-items: center;
  }

  .image-two {
    background-image: url(../images/image2.png);
    height: 304px;
    width: 236px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1 {
      margin-bottom: -15px;
    }

    h1,
    strong {
      color: white;
      font-size: 60px;
      font-family: "proxima-nova-extra-condensed", sans-serif;
      font-weight: 400;
    }

    strong {
      font-size: 30px;
      font-family: "proxima-nova-extra-condensed", sans-serif;
      font-weight: 400;
    }

    align-items: center;
  }

  .image-three {
    background-image: url(../images/image3.png);
    height: 304px;
    width: 236px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1 {
      margin-bottom: -15px;
    }

    h1,
    strong {
      color: white;
      font-size: 60px;
      font-family: "proxima-nova-extra-condensed", sans-serif;
      font-weight: 400;
    }

    strong {
      font-size: 30px;
      font-family: "proxima-nova-extra-condensed", sans-serif;
      font-weight: 400;
    }

    align-items: center;
  }
}

@media screen and (max-width: 834px) {
  .three-images {
    flex-direction: column;
    align-items: center;
    width: 100%;
    .image-one,
    .image-two,
    .image-three {
      margin: 20px;
    }
  }
}
