@use "variables" as v;
.tours-container {
  margin-bottom: 100px;
  margin-top: 142px;

  .tours-content {
    max-width: 818px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // background-color: lightblue;
    gap: 20px;
  }
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
  justify-content: center;
}

.tours-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 304px;
  width: 236px;
  position: relative;
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1,
  strong {
    color: white;
    font-family: "proxima-nova-extra-condensed", sans-serif;
    font-weight: 400;
    position: absolute;
    text-align: center;
  }

  h1 {
    font-size: 60px;
    margin-bottom: -5px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  strong {
    font-size: 30px;
    top: 36%;
  }

  .customer-button {
    position: absolute;
    bottom: 55px;
    background-color: v.$color-blue;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
  }
}
