.tours-hero {
  position: relative;
  height: 200px;
  margin-bottom: 48px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .tour-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    letter-spacing: 13px;

    font-family: "proxima-nova-extra-condensed", sans-serif;
    font-weight: 400;

    text-transform: uppercase;
  }
}
